.imagecard {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  position: relative;
  flex-direction: column;
}
.imagecard-section1 {
  width: 23.688rem;
  height: 23.688rem;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px rgba(27, 27, 27, 0.3));
  background-color: white;
  display: flex;
  position: relative;
}
.imagecard-img {
  width: 23.688rem;
  height: 14.438rem;
  border-radius: 20px;
  filter: drop-shadow(0px 1.875rem 0.625rem rgba(27, 27, 27, 0.26));
  background-image: linear-gradient(
    178deg,
    #717171 0%,
    rgba(113, 113, 113, 0) 100%
  );
}

.imagecard--title {
  padding-bottom: 0.313rem;
  padding-top: 0.938rem;
  padding-left: 1.25rem;
  color: white;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
  position: absolute;
}

.imagecard-section2 {
  position: absolute;
  top: 15.625rem;
}
.imagecard-section2-desp {
  color: black;
  font-size: 0.875rem;
  font-family: "Lato";
  font-weight: 300;
  display: flex;
  padding-left: 1.25rem;
  flex-direction: row;
  width: 90%;
  text-align: left;
}
.imagecard-section2-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12%;
  padding-left: 1.25rem;
  padding-right: 50px;
}
.imagecard-section2-small-title {
  color: black;
  font-size: 1rem;
  font-family: "Lato";
  font-weight: 700;
}
.imagecard-section2-img {
  width: 1.125rem;
  height: 1.125rem;
}
.imagecard-section2-footer-imagetitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
