$main-color: black;
$secondary-color: white;
$main-color: white;
$secondary-color: black;
$width: 400px; // Change Me

* {
  box-sizing: border-box;
}

.commoninput {
  width: 100%;
  height: $width/5;
  overflow: hidden;
  position: relative;
}

.commoninput--label {
  position: absolute;
  top: $width/15;
  left: 0px;
  color: rgba(black, 1);
  font: 400 $width/15 Lato;
  cursor: text;
  transition: 0.25s ease;
}

.commoninput--input {
  display: block;
  width: 100%;
  padding-top: $width/15;
  padding-left: 3px;
  border: none;
  border-radius: 0; // For iOS
  // border-bottom: solid $width/150 rgba(white, .5);
  color: black;
  background: transparent;
  font-size: $width/15;
  transition: 0.3s ease;
  &:valid {
    // border-bottom-color: rgba(white, .5);
    ~ label {
      top: 15px;
      font-size: $width/25;
      font-family: "Lato";
      color: rgba(black, 1);
    }
  }
  &:focus {
    outline: none;
    // border-bottom-color: $secondary-color;
    ~ label {
      top: 15px;
      font-size: $width/25;
      font-family: "Lato";
      font-family: 700;
      color: $secondary-color;
    }

    ~ .bar:before {
      transform: translateX(0);
    }
  }

  // Stop Chrome's hideous pale yellow background on auto-fill

  &:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    // border-bottom-color: rgba(white, .5);
  }
}

.commoninput--bar {
  // background: $secondary-color;
  background: rgba(black, 1);
  content: "";
  width: 100%;
  // height: $width/100;
  height: $width/150;
  // transform: translateX(-100%);
  transition: 0.3s ease;
  // margin-top: -2px;
  //
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    transform: translateX(-100%);
  }
}

::selection {
  background: rgba($secondary-color, 0.3);
}
