.carousel {
  margin-bottom: 3.125rem;
  &-item {
    height: 6.25rem;

    &-img {
      height: 9.375rem;
      width: 100%;

      img {
        height: 100%;
      }
    }
  }

  &-navigation {
    display: flex;
    width: fit-content;
    position: relative;
    float: right;
    right: 5.625rem;
    top: -1.875rem;
  }

  .swiper-slide {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }

  .customized-swiper-pagination {
    display: flex;
    justify-content: center;
  }
}
