.journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
  margin-right: 50%;
  &-circle {
    &-on {
      display: flex;
      align-items: center;
      background-color: black;
      color: black;
      width: 2.188rem;
      height: 2.188rem;
      border-radius: 1.063rem;
      font-size: 1.875rem;
      font-weight: 700;
      font-family: "Lato";
    }
    &-off {
      display: flex;
      align-items: center;
      background-color: #7b7e8e;
      color: #7b7e8e;
      width: 2.188rem;
      height: 2.188rem;
      border-radius: 1.063rem;
      font-size: 1.875rem;
      font-weight: 700;
      font-family: "Lato";
    }
  }
  &-stick {
    &-on {
      background-color: black;
      width: 0.188;
      height: 7.25rem;
    }
    &-off {
      background-color: #7b7e8e;
      width: 0.188rem;
      height: 7.25rem;
    }
  }
}
