.forgot {
  // width: 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.forgot-section--bkg {
  width: 50%;
  height: 100%;
}

.forgot-section--input {
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.forgot-section1 {
  width: 80%;
  align-items: center;
  padding-bottom: 2.5rem;
  &-large-title {
    font-size: 3.75rem;
    font-weight: 700;
    font-family: "Lato";
    text-align: left;
  }
  &-small-title {
    font-size: 2.25rem;
    font-weight: lighter;
    font-family: "Lato";
    text-align: left;
  }
}
.forgot-section2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-section2-signin {
  color: black;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Lato";
  &:hover {
    color: black;
    text-decoration-color: black;
    text-decoration: none;
  }
}
