.numcircle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blackcircle-innerlabel {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-family: "Lato";
  border: 1px solid black;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.563rem;
  align-items: center;
  text-align: center;
  line-height: 1.563rem;
  filter: drop-shadow(0 0 5px #808080);
}
.blackcircle-outlabel {
  color: black;
  font-size: 1.875rem;
  font-family: "Lato";
  font-weight: 700;
  padding-left: 0.938rem;
}
