.numcircle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blackcircle-innerlabel {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Lato";
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  line-height: 25px;
  filter: drop-shadow(0 0 5px #808080);
}
.blackcircle-outlabel {
  color: black;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 700;
  padding-left: 15px;
}
