.switch {
  position: relative;
  height: 3.125rem;
  width: 100%;
  margin: 1.25rem auto;
  background: white;
  border-radius: 0.625rem;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3),
    0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch--label {
  position: relative;
  z-index: 2;
  float: left;
  width: 49%;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  text-align: center;
  top: 0px;
  //  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch--label-off {
  padding-left: 0.125rem;
}

.switch--label-on {
  padding-right: 0.125rem;
  color: white;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}

.switch--selection {
  position: absolute;
  z-index: 1;
  top: 0.125rem;
  left: 0.125rem;
  display: block;
  width: 50%;
  height: 2.813rem;
  border-radius: 0.625rem;
  color: white;
  background-color: black;

  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5),
    0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  &.switch--selection-on {
    transition: left 0.15s ease-out;
    left: 0.125rem;
  }
  &.switch--selection-off {
    transition: left 0.15s ease-out;
    //left: 12.3rem;
    left: 50%;
  }
}
