.add-btn {
  display: flex;
  flex-direction: row;
}
.btn-circle {
  background-color: black;
  color: white;
  font-size: 2.5rem;
  border: 1px solid black;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.563rem;
  align-items: center;
  text-align: center;
  line-height: 2.313rem;
  filter: drop-shadow(0 0 5px #808080);
}
.btn-link {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
.btn-label {
  color: black;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: "Lato";
  padding-left: 0.938rem;
}
