.jobdetail {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.jobdetail-exmenu {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.jobdetail-section {
  padding-top: 5%;
  padding-left: 10%;
  width: 35%;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(-100px 0 40px rgba(27, 27, 27, 0.12));
  background-color: white;
}
.jobdetail-header {
  padding-top: 30px;
  width: 40%;
  text-align: right;
  padding-right: 20px;
}
.jobdetail-job-main-title {
  color: black;
  font-size: 48px;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
}
.jobdetail-job-main-desp {
  color: black;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 30px;
}
